.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -3.28358%;
}

@media all and (max-width: 480px) {
  .cards {
    margin-left: -10px;
  }
}

@media all and (min-width: 481px) and (max-width: 736px) {
  .cards {
    margin-left: -2.89017%;
  }
}

@media all and (min-width: 980px) {
  .cards {
    margin-left: -1.93878%;
  }
}
